<a href="https://colab.research.google.com/github/EliasT427/learning-Python/blob/main/Copy_of_operators_and_expressions_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Expression Exercises

## TASK 1
write an expression that evaluates to 20

In [ ]:
#TODO:
10+10

20

## TASK 2
write an expression that evaluates to -45

In [ ]:
#TODO:
-44-1

-45

## TASK 3 
create a 5 element list and write an expression that evaluates to the length of the list squared

In [ ]:
#TODO:
var=[1,2,3,4,5]
len(var)
len(var)**2

25

# Statement Exercises

## TASK 1
Write a simple assignment statement that assigns 10 to var

In [ ]:
#TODO:
var=10

## TASK 2
write an expression that evaluates to 200 and assign it to var

In [ ]:
#TODO:
var=99+101

## TASK 3
write a statement that prints out your first and last name separated by semi-colons.

In [ ]:
#TODO:
print('Elias' , 'Turpen', sep = ':')

Elias:Turpen

# Arithmetic operator exercises

## TASK 1
calculate the product of 6 and 7, then floor divide the result by 3 and assign the value to var. Then print out the result.

In [ ]:
#TODO:
var=(6*7)//3
print(var)

14

## TASK 2
* Calculate 50 divided by 5 and assign the result to `var`.
* Then find the remainder of 20 divided by 6 and assign the result to `remainder` 
* Calculate `var` to the power of `remainder` and print the result

In [ ]:
#TODO:
var=50/5
remainder=30/6
print(var**remainder)

100000.0

## TASK 3
This is the formula for the pythagorean therom

$a^{2}+b^{2}=c^{2}$

using the variables below, solve for $c^{2}$

In [ ]:
a = 8
b = 4
#TODO: 
8**2+4**2

80

# Comparison operators exercises

## TASK 1
check to see if x is greater than y

In [ ]:
x = 10
y = 5
#TODO:
x>y

True

## TASK 2
check to see if x is less than y

In [ ]:
x = 10
y = 5
#TODO:
x<y

False

## TASK 3
check to see if a is equal to b

In [ ]:
a = (True or False) and (True and True)
b = False
#TODO:
a==b

False

## TASK 4 
check to see if a is greater than or equal to b

In [ ]:
a = len([1,2,3,4]) ** 2
b = (10//3) * 5
#TODO:
a>b

True

## TASK 5
Check to see if a is not equal to b

In [ ]:
a = "I am a"
b = "I am b"
#TODO:
a != b

True

## TASK 6
check to see if a is less than or equal to b

In [ ]:
a = 99
b = len([x for x in range(100)]) - 1
#TODO:
a<=b

True

# Logic exercises

## TASK 1
Create and evaluate the truth of the following
* `a` is True
* `b` is False
* Is `a` and `b` true?

In [ ]:
#TODO:
a=True
b=False
a and b

False

## TASK 2
* assign the expression 5 is greater than 2, to `a`
* assign the expression len([1,2,3,4]) is less than 10, to `b`
* What is the result of the expression `a or b is true`

In [ ]:
#TODO:
a=5>2
b=(len([1,2,3,4])>10)
a or b

True

## TASK 3 
what are the values for `a`, `b`, `x`, and `y` if the expression `(a and b) and not (x or y)` is true?

***There may be more than one solution***

In [ ]:
a = True 
b = True
x = False
y = False
(a and b) and not (x or y)

True

## TASK 4
What are the values for `x` and `y` if the expression    `not((x and not y) or (not x and not y))` evaluates to false.

***There may be more than one solution***

In [ ]:
x = True
y = False
not((x and not y) or (not x and not y))

False

# Membership exercises

## TASK 1
Check to see if 'burn' is present in the string and print the result

In [ ]:
string = "Wasburn"
#TODO:
'burn' in string

True

## TASK 2
check to see if 'Grandma' is present in the tuple and print the result

In [ ]:

tpl = ("Mom", "Dad", "Brother", "Brother", "Sister", "Pet")
#TODO
'grandma' in tpl

False

## TASK 3
Is 10 squared present in the list?

In [ ]:
lst = [100 - 10, 99 + 6, 100 ** .5, 'Bruh']
#TODO
10**2 in lst

False

## TASK 4
Is the key 'awareness' not in the dictionary?

In [ ]:
dct = {'mind':"Thinking",
       'body':"Feeling",
       'world':"Acting"}
#TODO
'awareness' in dct

False

# Identity exercises

## TASK 1
are the two variables identical?

In [ ]:
var = 44
var2 = 50 - 6
#TODO
print(var is var2)

True

## TASK 2
are the two variables identical

In [ ]:
var = len([1,2,3,4,5])
var2 = len([54,23,54,12,69])
#TODO
print( var is var2)

True

## TASK 3
Are the two variables identical?

In [ ]:
var = [10, 12, 14, 16]
var2 = [10, 12, 14, 16]
#TODO
print(var is var2)

False

## TASK 4
Are the two variables identical?

In [ ]:
var = {1: 111, 2:222, 3:333}
var2 = var
#TODO
print(var is var2)

True

## TASK 5 
are the two variables not identical?

In [ ]:
var = 'Hello'
var2 = 'hello'
#TODO
print(var is var2)

False