<a href="https://colab.research.google.com/github/EliasT427/learning-Python/blob/main/Copy_of_in_class_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Expressions
Expressions are evaluations or operations that are reduced down to one or more values. In other words, expressions are ways to represent values. 

Examples of expressions are:
* Doing Math        
* evaluating Truth
* concatenating strings
* checking for membership

**Lets look at some examples to see what this means**

In [ ]:
# expressions always produce a value 
#TODO: Write an expression that evaluates to 10
5+5
5*2

10

In [ ]:
# more complex expression
#TODO:  write an expression that uses multiplication, division, subtraction and addition
(5**100)+30

7888609052210118054117285652827862296732064351090230047702789306640655

<b>Expressions always involve values or functions and operators that evaluate to a new value</b>

# Statements
Statements are actions or commands that do something. Statements are like sentences that are made up of expressions.

Examples of statements are:
* variable assignment
* printing 
* conditionals
* loops

In [ ]:
#TODO:  write variable assignment statement that creates a 5 element list
var = [1,2,3,4,5]
type(var)

list

In [ ]:
#TODO:  Write a print statement
print('hello teacher')

hello teacher

In [ ]:
#TODO:  create a statement made from an expression
message='hello'+' teacher'
print(message)

hello teacher

# The boolean Data type
Booleans are used to indicate truth and can only have the values: True or False

They are useful when writing logical or conditional expressions, or evaluating the truth of an expression (you will see examples of this soon).

In [ ]:
var = True
var is True

True

In [ ]:
var = False
var is True

False

# Arithmetic Operators
**Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, etc.**

| Operator | Meaning                                                      | Example                  |
| :------: | :----------------------------------------------------------- | :----------------------- |
|    +     | Add two operands or unary plus                               | x + y+ 2                 |
|    -     | Subtract right operand from the left or unary minus          | x - y- 2                 |
|    *     | Multiply two operands                                        | x * y                    |
|    /     | Divide left operand by the right one (always results into float) | x / y                |
|    %     | Modulus - remainder of the division of left operand by the right | x % y (remainder of x/y) |
|    //    | Floor division - division that results into whole number adjusted to the left in the number line | x // y  |
|    **    | Exponent - left operand raised to the power of right         | x**y (x to the power y)  |

In [ ]:
# arithmetic expressions 
#TODO SHow use cases for each operator
10%3

1

In [ ]:
#rounding down to a whole number 
5//2

2

# Using the Modulus operator to check if a number is even or odd
In programming, there will be a time where you may want to check if a number is even or odd. The Modulus operator gives us an easy way to do this check.

**Remeber: Modulus division gives us the remainder**
--

**So if I were to do the following:**


$9/2$ I get 4.5. Pretty simple

**But now, If Instead I did:**

$9\% 2$ I get 1.

This is because `2` can be multiplied `4` whole times which gives us `8`, but we can't add another `2`, otherwise we get `10`. So the remainder is `1`.

**If I were to do this with an even number:**

$10 \% 2$ I get 0. *This is the case for any even number*

**So, if we want to check if a number is even or odd, all we have to do is mod the number by 2 and check if the remainder is 0 or not.**
--

In [ ]:
from random import randint
#TODO: Check if the values are even or odd
var=randint(0,10)
print(var%2, var)

1 3

# Assignment Operators
Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

There are also various compound operators in Python like a += 5 that adds to the variable and later assigns the same. It is equivalent to a = a + 5.
| Operator | Example | Equivalent to |
| :------- | :------ | :------------ |
| =        | x = 5   | x = 5         |
| +=       | x += 5  | x = x + 5     |
| -=       | x -= 5  | x = x - 5     |
| *=       | x *= 5  | x = x * 5     |
| /=       | x /= 5  | x = x / 5     |
| %=       | x %= 5  | x = x % 5     |
| //=      | x //= 5 | x = x // 5    |
| **=      | x **= 5 | x = x ** 5    |

In [ ]:
# Write a simple assignment
x=7
print(f"x = {x}")

# Write Compound assignments

#TODO:  addition
x+=10
print(f"x = {x}")

#TODO: subtraction
x-=15
print(f"x = {x}")

#TODO: multiplication
x*=2
print(f"x = {x}")

#TODO: division
x/=3
print(f"x = {x}")

#TODO: exponentiation
x**=4
print(f"x = {x}")

x = 7
x = 17
x = 2
x = 4
x = 1.3333333333333333
x = 3.160493827160493

# Comparison operators
Comparison operators are used to compare values. It returns either True or False according to the condition.

| Operator | Meaning                                                      | Example |
| :------- | :----------------------------------------------------------- | :------ |
| >        | Greater than - True if left operand is greater than the right | x > y   |
| <        | Less than - True if left operand is less than the right      | x < y   |
| ==       | Equal to - True if both operands are equal                   | x == y  |
| !=       | Not equal to - True if operands are not equal                | x != y  |
| >=       | Greater than or equal to - True if left operand is greater than or equal to the right | x >= y  |
| <=       | Less than or equal to - True if left operand is less than or equal to the right | x <= y  |

In [ ]:
# comparison expressions
#TODO showcase each comparison operator
5>=6

False

# Logical operators
Logical operators are used to evaluate the truth of an expression.

| Operator | Meaning                                            | Example |
| :------- | :------------------------------------------------- | :------ |
| and      | True if both the operands are true                 | x and y |
| or       | True if either of the operands is true             | x or y  |
| not      | True if operand is false (complements the operand) | not x   |

In [ ]:
# Logical Expressions

# AND
var=True
var and True

# OR
True or False

# NOT
not True

False

In [ ]:
# More Complex logical expressions

# AND
(True and True) or (True and False)

# OR
(True or True) and False or not True

False

# Membership Operators
used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

**<em>In a dictionary we can only test for presence of key, not the value.</em>**
| Operator | Meaning                                             | Example    |
| :------- | :-------------------------------------------------- | :--------- |
| in       | True if value/variable is found in the sequence     | 5 in x     |
| not in   | True if value/variable is not found in the sequence | 5 not in x |

In [ ]:
#TODO: check if 'world' is in the string 'hello world'
var = "Hello World"
'rld' in var and 'Hell'in var

True

In [ ]:
#TODO: check to see if the value 23 is in the list
var = [23, 34, 1.43, 99]
23 in var

True

In [ ]:
#TODO: check to see if the value 11 is not in the list
var = [12,23,34,45,56]
11 not in var

True

# Identity Operators
**is** and **is not** are the identity operators in Python. They are used to check if two values (or variables) are located on the same part of the memory. 

***Two variables that are equal does not imply that they are identical.***

| Operator | Meaning                                                      | Example       |
| :------- | :----------------------------------------------------------- | :------------ |
| is       | True if the operands are identical (refer to the same object) | x is True     |
| is not   | True if the operands are not identical (do not refer to the same object) | x is not True |

<em><b>The concept of objects will make more sense when we cover objects in Module 7</b></em>

In [ ]:
# remember the id() function?
var = 25
#TODO What is the memory address of var
print(id(var))
#TODO What is the memory address of 25
print(id(25))
#TODO is var and 25 identical?
print(var is 25)
# Two variables that are equal does not imply that they are identical.
var2 = [1,2,3,4]
var3 = [1,2,3,4]
#TODO What is the memory address of the list [1,2,3,4]
print(id([1,2,3,4]))
#TODO What is the memory address of var2 and var3
print(id(var2),(id(var3)))
#TODO Is var2 and var3 identical?
print(var2 is var3)

# creating identical variables
var4 = [4,3,2,1]
var5 = var4
#TODO What is the momry address of the list [4,3,2,1]
#TODO What is the memory address of var4 and var5
#TODO Is var4 and var5 identical?

94195584605440
94195584605440
True
140603863561872
140603863608048 140603863900960
False

## Why is this the case???

In the first example, we have the literal value 25. When we assign 25 to var, nothing new happens, we are simply referencing the memory address where 25 is located with a variable. 

In the second example, we create a list of 4 elements. Lists aren't literal values, they're objects. Each time an object is created, it is assigned its own location in memory, even if the elements are the same. This is because we don't actually care about what the list is holding, we only care about the object itself. Since each list is created at different moments, they are different instances of list objects. Since theyre different objects, they are assigned different memory locations. So when we check to see if the two lists are identical, we see that this is false because they do not share memory locations.

In the third example, we create the variable 'var4' and assign a 4 element list to it. We then create the variable 'var5' and assign it the value of 'var4'. What this basically does is make var5 and var4 point to the value at the same memory address, which is the 4 element list. No new object is created, it's just that two variable now reference the same memory location.

<img src = "objects.png" width = 900 height = 500>