<a href="https://colab.research.google.com/github/EliasT427/learning-Python/blob/main/Copy_of_in_class_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What Are Methods?
In python Data structures like `lists`, `tuples`, `strings` and basically any other data type that isn't a literal value, are objects. Objects will be explained more thoroughly in ***Module 6*** but for now you can think of them as a collection of properties and functions.
--

<br>

**For Example:** If we think of a car as an object, it has properties like `color`, `weight`, `make`, and `price` along with functionality such as `start()`, `stop()`, `drive()`, `brake()`, and so on.
--
<br>

**Methods are functionality that is associated with objects**
--


------------------------

# Slicing, Negative Indexing, and Comprehensions
Although slicing, indexing, and comprehensions aren't methods, the functionality they provide is important enough for them to be talked about here.
--

<br>

## **Negative Indexing**
In python, we index values in a sequence from left to right, starting at 0. However, you can also index items in a sequence from right to left, starting at -1.

<div style = "text-align:center">
    <img src = "images/indexing.png" style = "">
</div>

In [ ]:
#TODO: Return elements in the list using negative indexing
var = [5,4,3,2,1]
var[-2]

2

In [ ]:
#TODO: Return characters in the string using negative indexing
string = 'washburn'
string[-1]

'n'

# Slicing
To access a range of items in a list, you need to slice a list. One way to do this is to use the simple slicing operator `:`.
With this operator you can specify where to start the slicing, where to end and specify the step.
--

<div style = "text-align:center">
    <img src = "images/slice.png" style = "">
</div>

In [ ]:
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
L[0:3:2]
L[::-1]

['i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

<div style = "text-align:center">
    <img src = "images/slice2.png" style = "">
</div>

In [ ]:
#TODO: Slice the list to return the values 3 to 9
var = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
var[2:9]

[3, 4, 5, 6, 7, 8, 9]

In [ ]:
#TODO: Slice everything from the beginning up to the 5th index
var = [10, True, 11, False, 12, True, 13, False]
var[:6]

[10, True, 11, False, 12, True]

In [ ]:

#TODO: Slice the string to return the substring 'burn'
var = "Washburn"
var[4:]

'burn'

# List Comprehensions

Suppose you want to create a list of all integer square numbers from 2 to 4. You could build that list creating a `for loop` with a range of 2-5 and append the square of each value to a list.
--

In [ ]:
#TODO: write a for loop to add all squared values from 2 to 4 to a list
squares = []
for i in range(2,5):
  squares.append(i**2)
squares

[4, 9, 16]

However, this method uses more code than what is necessary for this task and we can simplify it using a list comprehension instead.
--

**List comprehensions are a way to build a new list by applying an expression to each item in an iterable.**
--

<div style = "text-align:center">
    <img src = "images/comprehension.png" style = "">
</div>

In [ ]:
#TODO: Recreate the code from above using a list comprehension
var = [i**2 for i in range(2,5)]
var

[4, 9, 16]

In [ ]:
#TODO: Use a list comprehension to create a list of values from 1 to 100
var = [i for i in range(1,101)]
var

In [ ]:
names = ["Gabe", "Flomo", "Nathan", "Aaron", "Nene"]
#TODO: Use a list comprehension to get the first and last characters of the name
var = [i[0] + i[-1] for i in names]
var

['Ge', 'Fo', 'Nn', 'An', 'Ne']

-----
# List Methods
Ever since the Variables and data types chapter, you have already been exposed to the `.append()` method, which is probably the most common list methodsed. In this section of the chapter we will go over 5 new methods that will be useful for future tasks.

* `.sort()`
* `.copy()`
* `.pop()`
* `.extend()`
* `.index()`

# List Method: `.sort()`
used to sort the elements in the list.
--

In [ ]:
#TODO: Sort a list of numbers
var = [23, 0, 34, 211, 64, 775, 3, 7, 33445623, 76, .66542, -.00601]
var.sort()
var

[-0.00601, 0, 0.66542, 3, 7, 23, 34, 64, 76, 211, 775, 33445623]

In [ ]:
#TODO: Sort a list of strings
var = ["B", "C", "Z", "A", "Apple", "Banana"]
var.sort()
var

['A', 'Apple', 'B', 'Banana', 'C', 'Z']

In [ ]:
#TODO: Sort a list of lists
var = [[3,2,3], [0,2,1], [0, .5, 3]]
var.sort()
var

[[0, 0.5, 3], [0, 2, 1], [3, 2, 3]]

# List Method: `.copy()`
Returns a copy of the list.
--

In [ ]:
#TODO: create a copy of the list
var = [1,2,3,4,5]
var2 = var.copy()
var2[0]=100
var, var2

([1, 2, 3, 4, 5], [100, 2, 3, 4, 5])

In order to create a copy of a list, you need to use the copy method. Assigning an existing list to a new variable doesn't create a new list, it creates a new reference to a list that already exists, meaning that altering one will alter the other.
---

In [ ]:
#TODO: show that assigning an existing list to a new variable does't actually copy the list
var = [1,2,3,4,5]
var2 = var[:]
var, var2

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [ ]:
#TODO: copy a list using slicing [:]
var = ["I", "am", "a", "person"]

# List Method: `.pop()`
The pop() method removes a single list element at specified index and returns it. If no index is specified, pop() method removes and returns the last item in the list.
--

In [ ]:
#TODO: showcase the pop method
var = [.32, 1.89, 'flamingo']
var.pop(0)
var

[1.89, 'flamingo']

In [ ]:
#TODO: pop the first element of the list and print the value and the length before and after popping
var = [12, 9, .432]

# List Method: `.extend()`
The extend() method extends the list by appending all the items from the iterable to the end of the list. This method does not return anything; it modifies the list in place.
--

In [ ]:
#TODO: Show what happens when you append an iterable to a list
var = [5,6,7,8,9,10]
var2 = [1,2,3,4,]
var.append(var2)
var

In [ ]:
#TODO: Show what happens when you extend a list with another iterable
var = [5, 6, 7, 8, 9, 10]
var2 = [1,2,3,4,5]
var.extend(var2)
var

[5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

# List method: `.index()`
The index() method searches for the first occurrence of the given item and returns its index. If specified item is not found, it raises ‘ValueError’ exception.
--

In [ ]:
#TODO: What is the index of `green`
colors = ['red', 'green', 'blue', 'yellow']
colors.index('yellow')

3

In [ ]:
# this is the count method in action
var = ['red', 'green', 'blue', 'yellow', 'red']
var.count('red')

2

-----
# Creating Lists with unique values only
Say we have a list of names of students in a school and we don't actually care about how many student there, we only care about what the unique names are. For example, consider the following list.
---

```python 
[
    'Gabe',
    'Alex',
    'Matt',
    'Alex',
    'Naomi',
    'Alex'
]
```

There are 6 students total, but I only care about how many unique names are present in the list. The unique names in this list are `["Gabe", "Alex", "Matt", "Naomi"]` which reduces our list from 6 to 4. One way to achieve this result in python is to cast our list to the `set` data type then back into a `list`.
--

## [sets](https://www.learnbyexample.org/python-set/)
Sets are not going to be formally covered in this course, however, they do have some functionality that will be useful for future projects so we will briefly cover them here. A set is similar to a list or tuple with the only difference being that it does not allow you to have duplicate elements. To create a set from a list, use the `set()` constructor.
--

```python 
var = [1,2,3,3,3,4,5,5,5]
converted = set(var) -> {1,2,3,4,5}
```

Since we aren't interested in using the `set` as it is, we can convert it back to a list by calling the list constructor around the set.
--

```python
var = [1,2,3,3,3,4,5,5,5]
converted = list(set(var)) -> [1,2,3,4,5]
```

Now we have a list with only the unique values from our original list.
--

In [ ]:
#TODO convert the list into a list with only the unique elements
var = [5, 6, 5, 5, 6, 4, 7,6, 6, 7, 8, 4, 5, 5, 4]
list(set(var))

[4, 5, 6, 7, 8]

One use case for doing this is to create a count of all the unique elements in a list. By creating a list with only the unique elements from the original list, we can loop over the elements in the set and count how many times that element appears in our original list.
--

In [ ]:
#TODO create a counter using a set
var = [5, 6, 5, 5, 6, 4, 7, 6, 6, 7, 8, 4, 5, 5, 4]
unique = list(set(var))
for value in unique:
  print(f'the count of {value} in the list is {var.count(value)}')

the count of 4 in the list is 3
the count of 5 in the list is 5
the count of 6 in the list is 4
the count of 7 in the list is 2
the count of 8 in the list is 1