<a href="https://colab.research.google.com/github/EliasT427/learning-Python/blob/main/Copy_of_input_and_conversion_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Explicit Conversion

## TASK 1
Convert the string to an integer value

In [ ]:
#TODO: 
var = '12'
var = int(var)
print(type(var))

<class 'int'>

## TASK 2
Convert the list into a tuple

In [ ]:
#TODO
var = [1,2,3,4,5]
var =tuple(var)
print(type(var))

<class 'tuple'>

## TASK 3
convert the tuple into a string

In [ ]:
#TODO
var = (14)
var=str(var)
print(type(var))

<class 'str'>

# User input

## TASK 1
Ask the user for their name then ask for their age and print the results

In [ ]:
#TODO
var = input('Enter your age')
print(var)

Enter your age15
15

## TASK 2
Ask the user for how many classes they're taking this semester and print the results.

In [ ]:
#TODO
var = input('how many classes are you taking this semester')
print(var)

how many classes are you taking this semester6
6

## TASK 3
Ask the user for their name and age, then convert their age to a integer and multiply by the length of their name.

In [ ]:
#TODO
name = input('what is your name ')
age = int(input('how old are you '))
print(len(name)*age)

what is your name Elias
how old are you 15
75

## TASK 4
Matilda has 10 pets (she's a crazy cat lady). Input the amount of pets you have and do a comparison to see if she has more pets than you.

In [ ]:
#TODO
pet = int(input("how many pets do you have "))
10>pet

how many pets do you have 11

False