<a href="https://colab.research.google.com/github/EliasT427/learning-Python/blob/main/Copy_of_2_basics_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instructions
Below is a "dataset" that contains information about the residents in Elmo city. Elmo and Big bird have noticed some problems with their data and would like your help to fix it. The dataset structure is a list of list, where each internal list is its own section.

In [ ]:
data = [
    ['number of trash cans', 1_000_000],
    ['number of cleaners', 109_001],
    ['number of houses', 900000],
    ['Annual visitors', '200000'],
    ['average house cost', '650000'],
    ['average yearly income', 120000],
    ['Common Jobs', ('Quantum computing', 'Psychologist', 'Data scientist', 'Construction', 'Cleaning')],
    ['Total Number of available job positions', 250000 ],
    ['Total number of jobs', 1700543],
    ['number of children', 253370],
]

# How many children per house
Calculate the number of children there are per house, and cerate a new section named `children per house` with the value you calculated.

In [ ]:
#TODO
print(data[2][1]/data[9][1])

3.552117456683901

# Fixing the data Types
It seems that the data type for annual visitors and for average house cost are strings when they should be integers. Convert the values into the appropriate data type.

In [ ]:
#TODO

# How many should we hire
Right now, elmo city has 1 million trash cans, and only ~109 thousand city cleaners. How many more workers do they need to hire so that each cleaner can get to 8 trash cans per day?

Once you've calculated how many more people they need to hire, update the list where the `number of cleaners` is present to the new amount of city cleaners they have.

In [ ]:
#TODO claculate how many more cleaners they need to hire and update the list

# Adding new jobs
The list of common jobs is incomplete. There are thousands of different jobs in Elmo city yet the common jobs section only lists 5 of them. Add these 3 other common jobs to the common jobs section. 
- photographer
- Journalist
- physicist

# Adding a new resident
Add some input statements for your `name, age, and occupation` then add these 3 fields to a list. Create a section in the dataset with your info as a new resident in Elmo city. 

### Example
```python
name = "gabe"
age = 22
occupation = "psychologist"

data = [
    ['number of trash cans', 1_000_000],
    ['number of cleaners', 109_001],
    ['number of houses', 900000],
    ['Annual visitors', '200000'],
    ['average house cost', '650000'],
    ['average yearly income', 120000],
    ['Common Jobs', ('Quantum computing', 'Psychologist', 'Data scientist', 'Construction', 'Cleaning')],
    ['Total Number of available job positions', 250000 ],
    ['Total number of jobs', 1700543]
    ['number of children', 258710],
    ['New resident', ['Gabe', 22, "psychologist"]] <-- new resident
]
```

In [ ]:
#TODO