<a href="https://colab.research.google.com/github/EliasT427/learning-Python/blob/main/Copy_of_in_class_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Type Conversion
The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion. Python has two types of type conversion.

* Implicit Type Conversion
* Explicit Type Conversion

## Implicit Type Conversion
In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement.

Let's see an example where Python promotes the conversion of the lower data type (integer) to the higher data type (float) to avoid data loss.

In [ ]:
var = 20
var2 = 1.15
val = var + var2

print(f"Type of var: {type(var)}.    Value: {var}")
print(f"Type of var2: {type(var2)}. Value: {var2}")
print(f"Type of val: {type(val)}.  Value: {val}")

Type of var: <class 'int'>.    Value: 20
Type of var2: <class 'float'>. Value: 1.15
Type of val: <class 'float'>.  Value: 21.15

**Lets see another example with string and an int**

In [ ]:
var = 23
var2 = "43"
val = var + var2

print(f"Type of var: {type(var)}. Value: {var}")
print(f"Type of var2: {type(var2)}. Value: {var2}")
print(f"Type of val: {type(val)}. Value: {val}")

TypeError: ignored

**Unfortunately, python isn't able to perform the addition of a string and an int because the data types can't be implicitly converted. So lets look at a method for explicitly converting data types so that we can do these types of operations**

# Explicit conversions

This means to change the type of an object to the required data type by using predefined functions like int(), float(), str(), etc to perform explicit type conversion.

***This type of conversion is also called typecasting because the user casts (changes) the data type of the objects.***

In [ ]:

var= 20
var2= "30" 

print(f"Type of var: {type(var)}.  Value: {var}")
print(f"Type of var2: {type(var2)}. Value: {var2}\n")

#TODO: convert a string to an int and add the values
var2 = int(var2)
var + var2

# print(f"Type of var: {type(var)}.  Value: {var}")
# print(f"Type of var2: {type(var2)}. Value: {var2}")
# print(f"Type of val: {type(val)}.  Value: {val}")

Type of var: <class 'int'>.  Value: 20
Type of var2: <class 'str'>. Value: 30

50

## Allowable conversions
- int -> str 
- int -> float 
#
- float -> int
- float -> str
#
- str -> int (if the string is a number)
- str -> float (if the string is a number)
- str -> list 
- str -> tuple
#
- list -> tuple 
- list -> set 
- list -> str
#
- tuple -> list 
- tuple -> set
- tuple -> str

In [ ]:
#TODO: Convert a float to an int
var=10.65
int(var)

10

In [ ]:
#TODO: Convert a string to a float
var = "67.69420"
var=float(var)
var

67.6942

In [ ]:
var = '25'
v = int(var[0])
x = int(var[1])
v + x

In [ ]:
# TODO: Convert a string to a list 
var ='washburn'
var= list(var)
type(var),var

(list, ['w', 'a', 's', 'h', 'b', 'u', 'r', 'n'])

In [ ]:
#TODO: Convert a string to a tuple
var ='washburn'
var= tuple(var)
type(var),var

(tuple, ('w', 'a', 's', 'h', 'b', 'u', 'r', 'n'))

In [ ]:
#TODO: Convert a list to a string
var =[1,2,3,4]
var=str(var)
type(var),var

(str, '[1, 2, 3, 4]')

In [ ]:
#TODO: Convert a tuple to a string
var =(1,2,3,4)
var=str(var)
type(var),var

(str, '(1, 2, 3, 4)')

In [ ]:
#TODO: Convert a list to a tuple
var=[1,2,3,4,5]
var=tuple(var)
type(var),var

(tuple, (1, 2, 3, 4, 5))

# User Input
Sometimes in our programs, we want or expect the user to input some information that we can use in the rest of the program.

To do this, python provides us with a function called `input()`.

In [ ]:
#TODO: input your name
name=input()
name

Elias

'Elias'

In [ ]:
name

'Elias'

## Prompt
The `input` function can also be given a prompt so that the user knows what you want them to do.

In [ ]:
#TODO: Input your name using a prompt and print the type
name = input('Enter your name:')
print(type(name))

Enter your name:Elias
<class 'str'>

In [ ]:
#TODO: Input your age using a prompt and print the type
age = input('Type your age:')
age = int(age)
print(age)
print(type(age))

Type your age:15
15
<class 'int'>

## All input are strings
When using the `input()` function, all input is returned as a string. So when we enter a number, list, or tuple, we will need to convert it to the corresponding data type.

**There are two ways to do this**
* wrap the input function around the data type we want to convert to  
* convert the variable after input is provided

In [ ]:
#TODO: wrap the input function around the data type
age = int(input('type your age:'))
print(type(age))

type your age:15
<class 'int'>

(None, 15)

In [ ]:
#TODO: Convert the variable after user input is given