# Variable Exercises

## Task 1
<b>Create a numeric variable and print out its memory address</b>

***You print memory addresses using the id() function***

In [1]:
# Code goes here
var=10
print(id(var))

94889584499488

## Task 2
<b>Create a variable of type string and print out its value, then reassign a value of type float to the same variable and printout its value</b>

In [17]:
# Code goes here
var='1'
print(var)
print(type(var))
var=1.23
print(var)
print(type(var))

1
<class 'str'>
1.23
<class 'float'>

## Task 3
<b>Assign values of different types to each of the following variables and print out their types</b>

In [20]:
# Code goes here
var1, var2, var3 = 1, 2, 3
print(var1, var2, var3)

1 2 3

------------------
# String Exercises

## Task 1
<b>Create a string and print the first character</b>

In [24]:
# Code goes here
var='hello i am elias'
print(var[0])

h

## Task 2
<b>In your own words, describe what is meant by an index</b>

In [ ]:
# Response goes here
# 
# An index is ... a number for where something is in a in a sequence

## Task 3
<b>Create a string and print out the last character (without using the len() function)</b>

In [25]:
# Code goes here
string = "hello"
string[4]

'o'

## Task 4
<b>Create a string and print out the last character using the len() function</b>

In [64]:
# Code goes here
string = "hello my name is elias"
index=len(string)-1
print(string[index])

s

## Task 5
<b> Print the first, middle, and last character of the string, as well as its length</b>

In [33]:
# Code goes here
var = "Directing"
print(len(var))
print(var[0])
print(var[4])
print(var[8])

9
D
c
g

## Task 6
<b> Create two string variables and concatenate (combine) them to create a new variable called message, then print the message.</b>

In [37]:
# Code goes here
var1, var2 = 'hi','hello'
print(var1+var2)

hihello

-------------------
# Lists and Tuple Exercises

## Task 1
<b> Create a 5 element list and print out its length</b>

In [38]:
# Code goes here
var=[1,2,3,4,5]
print(len(var))

5

## Task 2
<b> create a 5 element list of integers then print the list. Next, change the first and last elements then print the list</b>

In [43]:
# Code goes here
var=[1,2,3,4,5]
var[0]=2
var[4]=1
print(var)

[2, 2, 3, 4, 1]

## Task 3
<b> create a 3 element list where each element is a diffrent type, then print out the type of each element</b>

In [47]:
# Code goes here
var=[1,2.2,3j]
print(type(var[0]))
print(type(var[1]))
print(type(var[2]))

<class 'int'>
<class 'float'>
<class 'complex'>

## Task 4
<b> Create a 5 element tuple of floats, then print out the middle value</b>

In [49]:
# Code goes here
var=(1.2,2.3,3.4,4.5,5.6)
var[2]

3.4

## Task 5
<b>The following code produces an error. Change the data type so that the error gets fixed</b>

In [54]:
# Solution goes here
var = ['This', "is", "a", 'tuple']
var[3] = 'list'
print(var)

['This', 'is', 'a', 'list']

## TASK 6
**Create a list of numbers then append the values 10, 15, and 20 to the list**

In [60]:
#TODO: 
var=[1,2,3,4,5]
print(var)
var.append(10)
var.append(15)
var.append(20)
print(var)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 10, 15, 20]